body {
    margin: 0;
}

.höjdpunkter {
    background-color: #ebe0e6;
    padding: 1rem;
}

.kort-rad {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
    align-items: stretch;
    margin: 2rem;
}

.kort {
    display: flex;
    flex: 1 1 220px;
    flex-direction: column;
    max-width: 280px;
    background-color: beige;
    padding: 1rem;
    border: 1px solid rgb(243, 210, 170);
    border-radius: 10px;
    
}

.kort img {
    width: 100%;
    height: auto;
}

.highlights {
    display:flex;
    justify-content: center;
    margin: 4rem;

}

.kort .btn {
    margin-top:auto;
    align-self: start;
    background-color:rgb(102, 117, 129);
    padding: 0.5rem;
    border: 1px solid rgb(54, 71, 68);
    border-radius: 10px;
    color: rgb(51, 62, 83);
}