.tidtabell {
    background-color: #f9b2d5;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem;
    margin-left: 15rem;
    margin-right: 15rem;
    color: azure;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#tidtabell{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#schematitel {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tid {
    padding: 1.5rem;
    border-radius: 10px;
    text-align: center;
}
#blå-scen {
    background-color: steelblue;
}
#rosa-scen {
    background-color: darksalmon;
}
#gul-scen {
    background-color: gold;
}
#grön-scen {
    background-color: darkgreen;
}
